
.kgs-facet.hidden {
    visibility: hidden;
}

.kgs-facet .sk-panel__header {
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: 600;
    color: #999;
}

.kgs-facet .sk-panel {
    margin-top: 35px;
}

.kgs-facet .sk-panel .sk-calendar-picker {
    z-index: 100;
}

.kgs-facet .sk-panel__content .sk-item-list .sk-item-list-option + .sk-item-list-option {
    margin-top: 6px;
}

.kgs-facet .sk-panel__content .sk-item-list .sk-item-list-option .sk-item-list-option__checkbox {
    margin-top: 4px;
    margin-right: 10px;
    color: var(--color-8);
    -moz-appearance: none;
    -webkit-appearance: none;
    transform: scale(0.9);
}

.kgs-facet .sk-panel__content .sk-item-list .sk-item-list-option .sk-item-list-option__checkbox:focus {
    outline: none;
}

.kgs-facet .sk-panel__content .sk-item-list .sk-item-list-option .sk-item-list-option__checkbox:after {
    position: absolute;
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    padding: 2px;
    border: 1px solid var(--color-8);
    background-color: transparent;
    color: white;
    cursor: pointer;
    border-radius: 3px;
    box-shadow: 0 0 2px #8f8a8a inset;
}

.kgs-facet .sk-panel__content .sk-item-list .sk-item-list-option .sk-item-list-option__checkbox:focus:after {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.kgs-facet .sk-panel__content .sk-item-list .sk-item-list-option.is-active .sk-item-list-option__checkbox:after {
    content: "\f00c";
    border-color: transparent;
    background-color: var(--color-selected);
    font-family: "FontAwesome";
}

.kgs-facet .sk-panel__content .sk-item-list .sk-item-list-option .sk-item-list-option__text {
    padding-top: 3px;
    color: var(--color-8);
    font-size: var(--font-size-small);
}

.kgs-facet .sk-panel__content .sk-item-list .sk-item-list-option.is-active .sk-item-list-option__text {
    color: var(--color-selected);
    font-weight: normal;
}
.kgs-facet .sk-panel__content .sk-item-list .sk-item-list-option .sk-item-list-option__count {
    display: inline-block;
    min-width: 42px;
    padding: 3px;
    background-color: var(--background-color-4);
    color: var(--color-17);
    font-size: var(--font-size-small);
    text-align: center;
}

.kgs-facet .sk-panel__content .sk-item-list .sk-item-list-option.is-active .sk-item-list-option__count {
    background-color: var(--color-selected);
    color: var(--color-18);
}

.kgs-facet .sk-panel__content [data-qa="show-more"] {
    margin-top: 10px;
    color: var(--link-color-1);
}
