
.kgs-instance-disclaimer {
  display: inline-block; 
  font-size: small;
  color: var(--color-8);
  text-align: center;
  padding: 10px 20px;
}

.kgs-instance-disclaimer a {
  color: var(--link-color-1)
}
