
.kgs-overview__previews > div {
    display: inline-block;
    width: 300px;
}

@media (min-width: 400px) {
    .kgs-overview__previews > div {
        width: 340px;
        border: 1px solid var(--border-color-3);
        padding: 20px;
    }
    .kgs-overview__previews.has-many > div {
        padding: 20px 20px 10px 20px;
    }
}

.kgs-overview__grid .kgs-overview__previews {
    text-align: center;
}

.kgs-overview__grid .kgs-overview__buttons {
    -ms-grid-column: 1;
    -ms-grid-row: 1;
    grid-area: buttons;
    margin-bottom: 20px;
}

.kgs-overview__grid .kgs-overview__highlights {
    display: none;
    grid-area: highlights;
}

.kgs-overview__grid .kgs-overview__main {
    -ms-grid-column: 1;
    -ms-grid-row: 2;
    grid-area: main;
}

.kgs-overview__grid .kgs-overview__groups {
    display: none;
    grid-area: groups;
} 

.kgs-overview__grid .kgs-overview__summary {
    display: none;
}

.kgs-overview__grid.kgs-overview__with-previews .kgs-overview__highlights {
    display: block;
}

.kgs-overview__grid.kgs-overview__with-previews .kgs-overview__main {
    margin-top: 20px;
}

@media (min-width: 768px) {
    
    .kgs-overview__grid.kgs-overview__with-previews {
        display: -ms-grid;
        display: grid;
        grid-row-gap: 20px;
        grid-column-gap: 40px;
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        -ms-grid-rows: max-content max-content;
        grid-template-rows: max-content max-content;
        grid-template-areas: "highlights"
                            "main";
    }

    .kgs-overview__grid.kgs-overview__with-previews .kgs-overview__highlights {
        display: flex;
        -ms-grid-column: 1;
        -ms-grid-row: 1;
    }

    .kgs-overview__grid.kgs-overview__with-previews .kgs-overview__summary {
        display: block;
        margin-left: 40px;
        flex: 1;
    }

    .kgs-overview__grid.kgs-overview__with-previews .kgs-overview__main {
        -ms-grid-column: 1;
        -ms-grid-row: 2;
    }

    .kgs-overview__grid.kgs-overview__with-previews .kgs-overview__main .kgs-field__layout-summary {
        display: none;
    }

    .kgs-overview__grid.kgs-overview__with-previews.kgs-overview__with-buttons {
        display: -ms-grid;
        display: grid;
        grid-row-gap: 20px;
        grid-column-gap: 40px;
        grid-template-areas: "buttons"
                            "highlights"
                            "main";
    }

    .kgs-overview__grid.kgs-overview__with-previews.kgs-overview__with-buttons .kgs-overview__buttons {
        -ms-grid-column: 1;
        -ms-grid-row: 1;
    }

    .kgs-overview__grid.kgs-overview__with-previews.kgs-overview__with-buttons .kgs-overview__highlights {
        -ms-grid-row: 2;
    }

    .kgs-overview__grid.kgs-overview__with-previews.kgs-overview__with-buttons .kgs-overview__highlights {
        -ms-grid-row: 2;
    }

    .kgs-overview__grid.kgs-overview__with-previews.kgs-overview__with-buttons .kgs-overview__main {
        -ms-grid-row: 3;
    }
}

@media (min-height: 900px) {

    .kgs-overview-scroll {
        overflow-y: auto;
    }
}

@media (min-width: 1024px) {

    .kgs-overview.kgs-overview__grid {
        display: -ms-grid;
        display: grid;
        grid-row-gap: 20px;
        grid-column-gap: 40px;
        -ms-grid-columns: 7fr 3fr;
        grid-template-columns: 7fr 3fr;
        -ms-grid-rows:  max-content max-content 1fr;
        grid-template-rows: max-content max-content 1fr;
        grid-template-areas: "main highlights"
                            "groups groups";
    }

    .kgs-overview__grid .kgs-overview__buttons {
        margin-bottom: 0;
    }
    
    .kgs-overview__grid .kgs-overview__main {
        -ms-grid-column: 1;
        -ms-grid-row: 1;
    }
    
    .kgs-overview__grid.kgs-overview__with-previews .kgs-overview__main  {
        margin-top: 0;
    }

    .kgs-overview__grid .kgs-overview__main .kgs-field__layout-summary,
    .kgs-overview__grid .kgs-overview__main .kgs-field__layout-group {
        display: none;
    }

    .kgs-overview__grid .kgs-overview__highlights {
        display: block;
        -ms-grid-column: 2;
        -ms-grid-row: 1;
    }

    .kgs-overview__grid .kgs-overview__summary {
        display: block;
    }

    .kgs-overview__grid.kgs-overview__with-previews .kgs-overview__highlights  {
        display: block;
    }

    .kgs-overview__grid.kgs-overview__with-previews .kgs-overview__summary {
        margin-top: 20px;
        margin-left: 0;
    }

    .kgs-overview__grid .kgs-overview__groups {
        display: flex;
        -ms-grid-column: 1;
        -ms-grid-row: 2;
        -ms-grid-column-span: 2;
    } 

    .kgs-overview.kgs-overview__grid.kgs-overview__with-buttons {
        -ms-grid-rows:  max-content max-content 1fr;
        grid-template-rows: min-content 1fr min-content;
        grid-template-areas: "buttons highlights"
                             "main highlights"
                            "groups groups";
    }


    .kgs-overview__grid.kgs-overview__with-buttons .kgs-overview__main {
        -ms-grid-row: 2;
    }

    .kgs-overview__grid .kgs-overview__highlights {
        -ms-grid-column: 2;
        -ms-grid-row-span: 2;
    }

    .kgs-overview__grid .kgs-overview__groups {
        -ms-grid-row: 3;
    } 
}
